@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  display: flex;
  background-color: #fafbff;
}

.sidebar {
  width: 250px;
  height: 100dvh;
  background-color: white;
  padding: 10px 20px;
  box-shadow:
    0 1px 2px rgba(15, 23, 42, 0.04),
    0 8px 24px rgba(15, 23, 42, 0.1);
}

.sidebar-logo {
  height: 80px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 5px;
}

.sidebar-logo h2 {
  font-weight: 600;
}

main {
  flex: 1;
  padding: 10px 20px;
}

.header {
  width: 100%;
  padding: 15px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 15px;
  box-shadow: 0 8px 24px rgba(15, 23, 42, 0.08);
}

.sidebar-pages__users {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #5932ea;
  color: white;
}
